*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.janedoe{
    
    padding-left: 15px;
    padding-left: 15px;
    line-height: 27px;
}
.janedoe h4{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.janedoe h3{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.janedoe p{
    color: rgb(43, 38, 38);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.janedoe a{
    color: rgb(43, 38, 38);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.janedoe h5{
    border: 2px solid lightslategray;
    background-color: rgb(17, 14, 14);
    width: 230px;
    margin-left: 2px;
    margin-top: 5px;
    padding: 5px 30px 5px 76px;
    font-size: 23px;
    color: azure;
    cursor: pointer;
}
img{
    height: 251px;
    width: 260px;
    cursor: not-allowed;
}

.maindiv-1{
    margin: 30px ;
    height: 450px;
    width: 262px;
    border: 2px solid #B2BABB;
    float: left;
}
body{
border: 2px solid gainsboro;
    height: 600px;
    padding: 16px;
}